<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_remote_sync_root"
              name="Remote Sync"
              parent="sale.sale_menu_root"
              sequence="99"/>

    <menuitem id="menu_remote_sync_config"
              name="Configuration"
              parent="menu_remote_sync_root"
              action="action_remote_sync_config"/>

    <menuitem id="menu_remote_sync_queue"
              name="Queue"
              parent="menu_remote_sync_root"
              action="action_remote_sync_queue"
              sequence="20"/>
</odoo>
